.next
public
node_modules
yarn.lock
package-lock.json
**/*.test.js
coverage
build/
.netlify
**/node_modules/*
node_modules/*
node_modules/
./node_modules/@mui/material/Popper/Popper.d.ts
**/out/*
**/.next/*
**/storageState.json
**/report.html
/node_modules/*
/build/*
/package.json
/package-lock.json
/tsconfig.json
/vite.config.ts
/yarn.lock
/.eslintrc.js
functions/node_modules
next.config.js
tsconfig.json
sentry.client.config.js
sentry.server.config.js
